<h2 class="title">Lista de dados</h2>
<section id="data-page">
    <div class="modal">
        <h3> {{ title }}</h3>
        <div class="modal-message">
            <div *ngFor="let data of allDataClients; let myIndex = index">
                <div>
                    <br>Nome: {{data.name}}
                    <br> CPF :{{data.cpfClient}}
                    <br> Data de nascimento: {{data.bornIn}}
                    <br> Email: {{data.emailClient}}
                    <br> Telefone: {{data.telephones}}
                    <br> CEP: {{data.cep}}
                    <br> Endereço: {{data.adress}} Numero da casa: {{data.houseNumber}}
                    <br> Complemento: {{data.complement}}
                    <br> Bairro: {{data.neighborhood}}
                    <br> Cidade: {{data.city}} Estado: {{data.regionState}}
                </div>
                <button (click)="delete(myIndex)">Deletar</button>
                <button>Editar</button> 
            </div>
        </div>
    </div>
</section>