<h2 class="title">Lista de dados</h2>
<section id="data-page">
    <form class="pesquisa">
        <fa-icon [icon]="faSearch"></fa-icon>
        <input type="text" placeholder="Busque por um perfil" (keypress)="obterDado($event)" (keyup)="obterDado($event)">
    </form>
    <div class="modal">
        <h3> {{ title }}</h3>
        <table>
            <div class="modal-message" *ngIf="allDataClients.length > 0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data de Nascimento</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>CEP</th>
                        <th>Endereço</th>
                        <th>Número</th>
                        <th>Complemento</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of allDataClients; let myIndex = index">
                        <td>{{data.name}}</td>
                        <td>{{data.cpfClient}}</td>
                        <td>{{data.bornIn}}</td>
                        <td>{{data.emailClient}}</td>
                        <td>{{data.telephones}}</td>
                        <td>{{data.cep}}</td>
                        <td>{{data.adress}}</td>
                        <td>{{data.houseNumber}}</td>
                        <td>{{data.complement}}</td>
                        <td>{{data.neighborhood}}</td>
                        <td>{{data.city}}</td>
                        <td>{{data.regionState}}</td>
                        <td>
                            <button (click)="delete(myIndex)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                                Deletar
                            </button>
                            <button (click)="editar(myIndex)">
                                <fa-icon [icon]="faPenToS"></fa-icon>
                                Editar</button> 
                        </td>
                    </tr>
                </tbody>
            </div>
        </table>
    </div>
</section>