/* You can add global styles to this file, and also import other style files */


/* Formulario*/
form {
    width: 450px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

input[type="submmit"]{
    background-color: #efefef;
    border: 2px solid transparent;
    padding: 0.6em 1em;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.4s;
}

input[type="submmit"]:hover{
    color: #DEC129;
    border-color: aqua;
    background-color: transparent;
}

/*Titulos*/
.title {
    text-align: center;
}